---
// Nada aqui
---

<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <h1>Test básico funcionou!</h1>
    <script>
      console.log('Script executado!');
    </script>
  </body>
</html>
