---
import aboutBg from '@/assets/images/mobile/about-bg.png'
import { findImage } from '@/utils/images';
import { astroAssetsOptimizer, getImagesOptimized, isUnpicCompatible, unpicOptimizer, type ImageProps } from '@/utils/images-optimization';
import type { ImageType } from './common/Image.astro';

type Props = ImageProps;

const _image = await findImage(aboutBg);
let image: ImageType | undefined = undefined;

if (
  typeof _image === "string" &&
  (_image.startsWith("http://") || _image.startsWith("https://")) &&
  isUnpicCompatible(_image)
) {
  image = await getImagesOptimized(_image, {}, unpicOptimizer);
} else if (_image) {
  image = await getImagesOptimized(_image, {}, astroAssetsOptimizer);
}
---

<div
  class="w-full h-[149px] bg-cover bg-center bg-no-repeat border border-black flex flex-col items-center justify-evenly text-white text-center font-normal tracking-[-2%]"
  style={`background-image: url(${image?.src});`}
>
    <p class="font-medium text-sm leading-6 max-w-48">NOSSO COMPROMISSO É O QUE NOS MOVE!</p>
    <p class="w-full text-xxs font-inter max-w-[350px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button class="btn-yellow">SAIBA MAIS</button>
</div>
