---
import { getCollection } from 'astro:content';
import type { ImageMetadata } from 'astro';
import BannerSwiper from './react/widgets/BannerSwiper';
import BannerSliderSkeleton from './BannerSliderSkeleton.astro';

interface BannerData {
  title: string;
  subtitle?: string;
  description?: string;
  image: ImageMetadata;
  imageMobile?: ImageMetadata;
  cta?: string;
  textPosition: 'left' | 'center' | 'right';
  textAlign: 'top' | 'middle' | 'bottom';
  overlay: boolean;
  order: number;
  active: boolean;
  publishDate?: Date;
  expireDate?: Date;
}

interface Banner {
  data: BannerData;
  id: string;
}

const now = new Date();
const allBanners = (await getCollection('banner')) as Banner[];

const banners = allBanners
  .filter((banner): banner is Banner => {
    if (!banner.data.active) return false;
    if (banner.data.publishDate && banner.data.publishDate > now) return false;
    if (banner.data.expireDate && banner.data.expireDate < now) return false;
    return true;
  })
  .sort((a, b) => a.data.order - b.data.order);

const bannersForReact = banners.map((banner) => ({
  ...banner,
  data: {
    ...banner.data,
    image: banner.data.image.src,
    imageMobile: banner.data.imageMobile?.src,
  },
}));
---

<head>
  <>
    <link
      rel="preload"
      as="image"
      href={bannersForReact[0].data.image}
      fetchpriority="high"
    />

    {
      bannersForReact[0].data.imageMobile && (
        <link
          rel="preload"
          as="image"
          href={bannersForReact[0].data.imageMobile}
          media="(max-width: 768px)"
        />
      )
    }
  </>
</head>

<div class="relative">
  <div class="banner-skeleton-wrapper">
    <BannerSliderSkeleton />
  </div>
  <div class="banner-real-wrapper">
    <BannerSwiper banners={bannersForReact} client:load />
  </div>
</div>
