---
import Image from './common/Image.astro';
import logoImage from '@/assets/images/site/logo-header.png';
---

<span
  class="ml-2 self-center text-2xl font-bold whitespace-nowrap text-gray-900 md:text-xl rtl:mr-2 rtl:ml-0"
>
  <Image
    src={logoImage}
    alt="São geraldo"
    class="h-[52px] w-[85px] truncate lg:size-20"
  />
</span>
