---
import Image from './common/Image.astro';
import logo from '@/assets/images/logo.png';
---

<span
  class="ml-2 self-center text-2xl font-bold whitespace-nowrap text-gray-900 md:text-xl rtl:mr-2 rtl:ml-0"
>
  <Image src={logo} width={85} height={52} alt="São geraldo" />
</span>
