---
import { getCollection } from 'astro:content';
import Image from './common/Image.astro';

// Busca o banner ativo da coleção middleBanner
const middleBanners = await getCollection(
  'middleBanner',
  ({ data }) => data.active
);
const bannerData = middleBanners[0]?.data;
---

<div class="hidden md:block">
  <Image src={bannerData.image} alt={bannerData.title} />
</div>
