---
import type { News } from '@/types';
import { fetchPosts } from '@/utils/blog';
import NewsSwiper from './react/widgets/NewsSwiper';

import arrowNext from '@/assets/images/arrowNext.png';
import arrowPrev from '@/assets/images/arrowPrev.png';
import SwiperLayout from './ui/SwiperLayout.astro';

const news = await fetchPosts();

// Transformar dados para o componente React
const newsForReact = news.map((news: News) => ({
  id: news.id || news.slug || news.permalink,
  title: news.title,
  excerpt: news.excerpt,
  content: news.content,
  image: typeof news.image === 'string' ? news.image : news.image?.src,
  permalink: news.permalink,
}));
---

<div class="my-6 flex min-h-[340px] w-full flex-col text-center">
  <h4 class="text-caju-heading-primary uppercase">Notícias</h4>

  <SwiperLayout>
    <NewsSwiper
      news={newsForReact}
      arrowNext={arrowNext.src}
      arrowPrev={arrowPrev.src}
      client:only="react"
    />
  </SwiperLayout>
</div>
