---
import Image from './common/Image.astro';
import Button from './ui/Button.astro';
import teamImageDesktop from '@/assets/images/site/team.png';
import teamImage from '@/assets/images/site/mobile/team.png';
---

<div
  class="bg-caju-heading-primary relative my-12 h-fit max-h-[720px] min-h-[290px]"
>
  <Image
    src={teamImageDesktop}
    class="absolute inset-0 hidden h-full w-full lg:block"
    alt="Faça parte do time"
  />
  <Image
    src={teamImage}
    class="h-[147px] w-full lg:hidden"
    alt="Faça parte do time"
  />
  <!-- <div class="bg-caju-heading-yellow h-2 w-full"></div> -->
  <div
    class="relative z-10 my-3 flex flex-col items-center gap-4 text-center text-white lg:max-w-[53%] lg:items-start lg:gap-6 lg:p-12 lg:text-left"
  >
    <h4
      class="text-caju-heading-yellow scale-85 uppercase lg:scale-100 lg:text-5xl! lg:leading-[150%]"
    >
      Faça Parte Dessa Tradição!
    </h4>
    <p class="text-xxs font-inter h-fit max-w-[345px] lg:max-w-fit lg:text-3xl">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
      ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
      facilisis.
    </p>
    <Button
      href="/"
      variant="yellow"
      class="h-5 w-[140px] py-3! lg:h-16 lg:w-[405px] lg:px-6! lg:text-2xl"
    >
      <span class="font-inter font-medium lg:text-2xl">Página de Carreiras</span
      >
    </Button>
  </div>
</div>
