---
import '@/styles/global.css';

import { I18N, ANALYTICS } from 'astrowind:config';

import CommonMeta from '@/components/common/CommonMeta.astro';
import Favicons from '@/components/Favicons.astro';
import Metadata from '@/components/common/Metadata.astro';
import SiteVerification from '@/components/common/SiteVerification.astro';
import Analytics from '@/components/common/Analytics.astro';
import BasicScripts from '@/components/common/BasicScripts.astro';

// Comment the line below to disable View Transitions
import { ClientRouter } from 'astro:transitions';

import type { MetaData as MetaDataType } from '@/types';
import GoogleTagmanager from '@/components/common/GoogleTagManager/GoogleTagmanager.astro';
import GoogleTagmanagerNoScript from '@/components/common/GoogleTagManager/GoogleTagmanagerNoScript.astro';
import arrowListIcon from '@/assets/icons/arrow-list.svg';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
const gtmId = ANALYTICS?.gtm?.id ? String(ANALYTICS.gtm.id) : null;
---

<!doctype html>
<html
  lang={language}
  dir={textDirection}
  class="2xl:text-[20px]"
  style={`--arrow-icon: url(${arrowListIcon.src ?? arrowListIcon});`}
>
  <head>
    <CommonMeta />
    <Favicons />
    <Metadata {...metadata} />
    {gtmId ? <GoogleTagmanager id={gtmId} /> : null}
    <SiteVerification />
    <Analytics />

    <!-- Comment the line below to disable View Transitions -->
    <ClientRouter fallback="swap" />
  </head>

  <body class="text-default bg-page tracking-tight antialiased">
    {gtmId ? <GoogleTagmanagerNoScript id={gtmId} /> : null}
    <slot />

    <BasicScripts />
  </body>
</html>
