---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import config from "../content/config/config.json";

import '../styles/global.css';
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <BaseHead title={config.seo.title} description={config.seo.description} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
