---
export const prerender = true;
---

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="0;url=/admin/index.html">
  <title>Redirecting to CMS...</title>
</head>
</html>